h1 {
  text-align: center;
  margin: 5%;
  border: 1px solid black;
  background-color: #c0c0c0;
}
.cube, .cube1 {
}
.cube {
    width: 200px;
    height: 150px;
    margin-left: 5%;
    background-color: blue;
    transition-property: background-color; /* Active la transition sur background-color */
    transition-duration: 1s; /* La transition dure 1s */
    transition-duration: 1s;
    transition-delay: 0.2s; /* Démarre au bout de 0,2s */
}

.cube:hover {
    background-color: #33ff99;
}
.cube1 {
    width: 200px;
    height: 150px;
    margin: 5% 0 5% 30%;
    background-color: #ff99cc;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease; /* Transition de type ease */
}
.cube1:hover {
    transform: translateX(500px); /* On déplace l'objet */
}
.cube2 {
    width: 200px;
    height: 150px;
    margin: 5% 0 5% 30%;
    background-color: #ffff66;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in; /* Transition de type ease */
}

.cube2:hover {
    transform: translateX(500px); /* On déplace l'objet */
}
.cube3 {
    width: 200px;
    height: 150px;
    margin: 5% 0 5% 30%;
    background-color: #ffcc66;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: linear; /* Transition de type ease */
}

.cube3:hover {
    transform: translateX(500px); /* On déplace l'objet */
}
.cube4 {
    width: 200px;
    height: 150px;
    margin: 5% 0 5% 30%;
    background-color: #cc3333;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out; /* Transition de type ease */
}

.cube4:hover {
    transform: translateX(500px); /* On déplace l'objet */
}
.cube5 {
    width: 200px;
    height: 150px;
    margin: 5% 0 5% 30%;
    background-color: #3366ff;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.43,-0.83,.53,1.73);
}
.cube5:hover {
    transform: translateX(500px); /* On déplace l'objet */
}

/*-----------------animation----------------------*/

@-webkit-keyframes moncarre { /* Safari, Opera, Chrome */
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(150px);
    }

    100% {
        transform: translateX(150px) rotate(30deg);
    }
}

@keyframes moncarre { /* Tous les autres navigateurs */
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(150px);
    }

    100% {
        transform: translateX(150px) rotate(30deg);
    }
}
.cube6
{
    margin: 100px;
    width: 200px;
    height: 150px;
    background-color: #008;
}
.cube6:hover
{
    -webkit-animation: moncarre 2s; /* Safari, Opera, Chrome */
    animation: moncarre 2s; /* Tous les autres navigateurs */
}
